.continue-button {
  width: 150px;
  height: 50px;
  background: yellow;
  border-radius: 26px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.continue-button-disabled {
  background: #ffff0061;
}

.continue-text {
  font-weight: bold;
  font-size: 18px;
}
