// Colors
$vp-text-color: #1e1e1e !default;

// Primary color
$vp-pink: #ff3366;
$vp-dark-pink: #e94971;
$vp-black: #1e1e1e;
$vp-green: #219653;
$vp-green-light: #eefff5;
$vp-white: #ffffff;
$vp-blue: #0075eb;
$vp-light-blue: #ddebff;
$vp-purple: #5f6caf;
$white: #ffffff;
$vp-orange: #ff9e47;

// warning
$vp-warning-yellow: #ff9e47;
$vp-yellow-bg-light: #fffaf6;

// error
$vp-red: #ff0000;
$vp-error-red: #ff4d4d;
$vp-red-bg-light: #fff4f4;

// grays
$vp-lightest-gray: #f8f8f8;
$vp-dark-gray: #707070;
$vp-gray: #a4a4a4;
$vp-mild-gray: #f0f0f0;
$vp-blue-gray: #edf2f7;
$vp-blue-gray-light: #f6f7f8;
$vp-blue-gray-dark: #6a8cad;
$vp-blue-xero: #1ab3d6;

// text colors
$vp-text-black: $vp-black;
$vp-text-gray: $vp-dark-gray;
$vp-text-blue: $vp-blue;
$vp-text-light-gray: $vp-gray;
