.landing-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1%;
}

.landing-header-text {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  width: 80%;
  margin-bottom: 1%;
}

.landing-header-description {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  width: 80%;
}

.landing-feature-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 5%;
}

.landing-feature-card-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  width: 80%;
}

.landing-feature-card {
  width: 40%;

  padding: 1%;

  margin-bottom: 5%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.landing-feature-problem-root-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5%;
  margin-bottom: 5%;
}

.landing-feature-problem-container {
  width: 80%;

  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

.landing-request-early-access-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-request-early-access-header-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  width: 80%;
}

.landing-request-early-access-button-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media all and (max-width: 1000px) {
  .landing-header-container {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .landing-header-text {
    margin-bottom: 2%;
  }
}
