.landing-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.landing-header-text {
  font-family: Archer-Bold;
  font-size: 108px;
}

.landing-description-text {
  display: flex;
  margin: 2%;
  font-family: Archer-Bold;
  font-size: 48px;
}

.landing-features-container {
  display: flex;
  justify-content: space-evenly;
  background-color: bisque;
}

.landing-features-description-container {
  display: flex;
  flex-direction: column;
}

.landing-feature {
  font-family: Archer-Bold;
  font-size: 24px;
  margin: 40px;
}

.landing-say-cheers-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 35, 49);
}

.landing-say-cheers-text {
  font-family: Archer-Bold;
  font-size: 108px;
  color: #ffffff;
  margin-top: 10%;
  margin-bottom: 10%;
}

.landing-add-to-slack-container {
  margin-bottom: 10%;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing-header-text {
  font-family: Archer-Bold;
  font-size: 108px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pricing-price-text {
  font-family: Archer-Bold;
  font-size: 84px;
  margin-bottom: 3%;
}

.pricing-trial-text {
  font-family: Archer-Bold;
  font-size: 48px;
}

.pricing-trial-description-text {
  font-family: Archer-Bold;
  font-size: 24px;
}

.pricing-question-answers-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.pricing-question-answers-header-text {
  font-family: Archer-Bold;
  font-size: 32px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pricing-question {
  font-family: Archer-Bold;
  font-size: 24px;
  margin-top: 2%;
}

.pricing-answer {
  font-family: monospace;
  font-size: 18px;
}
