html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ef862c14;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans"), local("Product Sans"),
    url("./assets/fonts/Product\ Sans\ Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-slack-button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
