.about-root-container {
  min-height: 100vh;
  height: 100%;

  margin: 2%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-container {
  width: 80%;
}

.about-header {
  font-family: Product Sans;
  font-size: 2rem;
  text-align: center;

  margin-bottom: 5%;
}

.about-sub-header {
  font-size: 1.5rem;
  text-align: center;

  margin-bottom: 5%;
}

.about-note {
  font-size: 1rem;
}
