.footer-container {
  background-color: rgb(28, 35, 49);
  height: auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5%;
  color: #ffffff;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  margin-top: 2%;
}

.footer-column-header {
  font-family: Product Sans;
  font-size: 18px;
}

.footer-column-content {
  margin-top: 2%;
}

.footer-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Product Sans;
  font-size: 16px;
  color: #8e8e8e;
}

.footer-company-copyright {
  display: flex;
  align-items: center;

  margin-bottom: 1%;
}
