html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #ef862c14;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin: 2%;
}

.questions-text {
  font-size: 24px;
  opacity: 1;
}

.answer-text {
  font-size: 18px;
  opacity: 1;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.gutter-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;
}

.gutter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;
}

.no-default-link {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans"), local("Product Sans"),
    url("../public/fonts/Product\ Sans\ Regular.ttf") format("truetype");
}
