.landing-container {
  margin: 3%;
}

.landing-hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-hero-text-container {
  display: flex;
  flex-direction: column;

  width: 40%;
}

.landing-hero-main-text {
  font-family: Product Sans;
  font-size: 2.5rem;
}

.landing-hero-sub-text {
  font-family: Product Sans;
  color: #8e8e8e;
  font-size: 1.5rem;
}

.landing-hero-image-container {
  width: 60%;
}

.landing-feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10%;
}

.landing-feature-text-container {
  display: flex;
  flex-direction: column;

  width: 40%;
}

.landing-feature-main-text {
  font-family: Product Sans;
  font-size: 2rem;
}

.landing-feature-sub-text {
  font-family: Product Sans;
  color: #8e8e8e;
  font-size: 1.2rem;
}

.landing-feature-image {
  width: 60%;
}

.landing-why-use-container {
  margin: 5%;
}

.landing-why-use-text-container {
  display: flex;
  justify-content: center;
}

.landing-why-use-text {
  font-family: Product Sans;
}

.landing-why-use-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3%;
}

.landing-why-use {
  width: 40%;
}

.landing-why-use-header {
  font-family: Product Sans;
  color: var(--color-primary);
}

.landing-why-use-description {
  font-family: Product Sans;
  color: #8e8e8e;
}

.landing-add-to-slack-container {
  display: flex;
  justify-content: center;

  margin-top: 10%;
  margin-bottom: 10%;
}

.landing-install-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 10%;
  margin-bottom: 10%;
}

.landing-install-header-text {
  font-family: Product Sans;
}

.landing-install-button-container {
  margin-top: 5%;
}

@media all and (max-width: 1000px) {
  .landing-hero-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .landing-hero-text-container {
    align-items: center;
    width: 80%;
  }

  .landing-feature-container {
    flex-direction: column;
  }

  .landing-feature-text-container {
    width: 80%;

    text-align: center;
  }
}
