.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2%;
}

.navbar-left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
}

.navbar-logo-text {
  font-family: Product Sans;
  font-size: 3em;
  cursor: pointer;
}

.navbar-text {
  font-family: Product Sans;
  font-size: 1.5em;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-right-container {
    width: 80%;

    margin-top: 3%;
  }
}
