.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.navbar-text {
  font-family: Archer-Bold;
  font-size: 36px;
  cursor: pointer;
}

/* .navbar-logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  } */
