.start-free-trial-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 75px;

  border: 2px solid #ff8c00ff;

  border-radius: 8px;

  cursor: pointer;
}

.start-free-trial-button-container:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.start-free-trial-button-text {
  font-family: Product Sans;
  font-size: 2rem;

  margin-left: 10px;
}
